.page-header {
    background-color: cornflowerblue;
    margin-top: 0;
    padding: 15px 20px 15px 35px;
    overflow: hidden;
}

.page-header a{
    color: #ffffff; 
    font-size: 24pt;
    text-decoration: none;
    float: left;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
}

h1, h2, h3, h4, a {
    font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
    font-size: 40px;
}

.date{
    color: gray;
    margin-top: 20px;
}

.post{
    margin-bottom: 70px;
}
.post h2 a{
    color: #000000
}
.post h2 a:visited{
    color: midnightblue;
}

.content{
    margin-left: 40px;
}

.post-form-blog textarea {
    width: 100%;
}
.post-form-blog .btn-primary{
    float: right;
}

.page-header-right a {
    float: right;
}
.page-header-right a:hover{
    color: hotpink;
}